In [1]:
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Read the CSV file into a DataFrame
df = pd.read_csv('DATA/infrastructure_deliverables.csv')

# Display the first 5 rows
print(df.head().to_markdown(index=False, numalign="left", stralign="left"))

# Print the column names and their data types
print(df.info())

| Settlement Name   | Project Type   | Project Status   | Completion Percentage   | Start Date   | End Date   | Project Budget (KES)   | Infrastructure Level   | Population Density   | Growth Rate   | Need New Infrastructure   |
|:------------------|:---------------|:-----------------|:------------------------|:-------------|:-----------|:-----------------------|:-----------------------|:---------------------|:--------------|:--------------------------|
| Machakos          | Hospital       | Completed        | 100                     | 2020-05-10   | 2021-07-17 | 31000000               | Low                    | Low                  | Stable        | 0                         |
| Garissa           | Road           | Completed        | 100                     | 2020-02-17   | 2021-03-25 | 34000000               | High                   | High                 | Slow          | 0                         |
| Mandera           | Electricity    | Delayed          | 10                      | 2021-06-02   | 2023-02-02 | 86000000               | Low                    | Medium               | Slow          | 0                         |
| Lodwar            | Market         | Not Started      | 0                       | nan          | nan        | 65000000               | High                   | Low                  | Slow          | 0                         |
| Kericho           | Market         | In Progress      | 54                      | 2022-03-08   | 2022-06-19 | 45000000               | Low                    | High                 | Slow          | 0                         |
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Settlement Name          5000 non-null   object
 1   Project Type             5000 non-null   object
 2   Project Status           5000 non-null   object
 3   Completion Percentage    5000 non-null   int64
 4   Start Date               3689 non-null   object
 5   End Date                 3689 non-null   object
 6   Project Budget (KES)     5000 non-null   int64
 7   Infrastructure Level     5000 non-null   object
 8   Population Density       5000 non-null   object
 9   Growth Rate              5000 non-null   object
 10  Need New Infrastructure  5000 non-null   int64
dtypes: int64(3), object(8)
memory usage: 429.8+ KB
None

The columns Project Type, Project Status, Infrastructure Level, Population Density, and Growth Rate are categorical and will need to be encoded before we can use them in our models. The columns Start Date and End Date are datetime, but since they have null values, we will drop these columns for this analysis. The target variable is Need New Infrastructure. We will build a classification model to predict this target variable.

We will also create a new target variable is_delayed which is 1 if Project Status is 'Delayed' and 0 otherwise to predict the likelihood of project delays.

We will drop the Start Date, End Date and Settlement Name columns as they are not relevant for our model.

In [2]:
from sklearn.preprocessing import OneHotEncoder

# Drop the `Start Date`, `End Date` and `Settlement Name` columns
df.drop(['Start Date', 'End Date', 'Settlement Name'], axis=1, inplace=True)

# One-hot encode categorical columns
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
encoded_cols = encoder.fit_transform(df[['Project Type', 'Project Status', 'Infrastructure Level', 'Population Density', 'Growth Rate']])
encoded_df = pd.DataFrame(encoded_cols, columns=encoder.get_feature_names_out(['Project Type', 'Project Status', 'Infrastructure Level', 'Population Density', 'Growth Rate']))

# Concatenate the encoded columns with the original DataFrame
df = pd.concat([df.drop(['Project Type', 'Project Status', 'Infrastructure Level', 'Population Density', 'Growth Rate'], axis=1), encoded_df], axis=1)

# Create a new target variable `is_delayed` which is 1 if `Project Status` is 'Delayed' and 0 otherwise
df['is_delayed'] = df['Project Status_Delayed'].astype(int)

In [3]:
#Now we will split the data into features (X) and target variable (Need New Infrastructure) then split the data 
#into training and testing sets. We will then initialize and train a Random Forest Classifier model to predict the need 
#for new infrastructure and evaluate the model on the test set. 
#We will also print the top 5 features contributing to the need for new infrastructure
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Split the data into features and target variable for predicting project delays
X_delay = df.drop(['Need New Infrastructure', 'is_delayed', 'Project Status_Completed', 'Project Status_Delayed', 'Project Status_In Progress', 'Project Status_Not Started'], axis=1)
y_delay = df['is_delayed']

# Split the data into training and testing sets for predicting project delays
X_train_delay, X_test_delay, y_train_delay, y_test_delay = train_test_split(X_delay, y_delay, test_size=0.2, random_state=42)

# Initialize and train a Random Forest Classifier model for predicting project delays
model_delay = RandomForestClassifier(random_state=42)
model_delay.fit(X_train_delay, y_train_delay)

# Make predictions on the test set for predicting project delays
y_pred_delay = model_delay.predict(X_test_delay)

# Evaluate the model on the test set for predicting project delays
accuracy_delay = accuracy_score(y_test_delay, y_pred_delay)
report_delay = classification_report(y_test_delay, y_pred_delay)
cm_delay = confusion_matrix(y_test_delay, y_pred_delay)

# Print the evaluation metrics for predicting project delays
print(f"Accuracy for predicting project delays: {accuracy_delay}")
print("Classification Report for predicting project delays:\n", report_delay)
print("Confusion Matrix for predicting project delays:\n", cm_delay)

# Get the list of encoded column names by dropping the target variables and non-encoded columns from the dataframe's columns
encoded_column_names = X_delay.columns

# Get the feature importances from the trained model for predicting project delays
importances_delay = model_delay.feature_importances_

# Create a DataFrame to store the feature names and their importances for predicting project delays
feature_importances_delay = pd.DataFrame({'feature': encoded_column_names, 'importance': importances_delay})

# Sort the DataFrame in descending order of importance for predicting project delays
feature_importances_delay = feature_importances_delay.sort_values('importance', ascending=False)

# Print the top 5 features contributing to project delays
print("\nTop 5 features contributing to project delays:")
print(feature_importances_delay.head(5).to_markdown(index=False))

Accuracy for predicting project delays: 0.725
Classification Report for predicting project delays:
               precision    recall  f1-score   support

           0       0.80      0.84      0.82       759
           1       0.42      0.35      0.38       241

    accuracy                           0.73      1000
   macro avg       0.61      0.60      0.60      1000
weighted avg       0.71      0.72      0.72      1000

Confusion Matrix for predicting project delays:
 [[640 119]
 [156  85]]

Top 5 features contributing to project delays:
| feature                   |   importance |
|:--------------------------|-------------:|
| Completion Percentage     |    0.539861  |
| Project Budget (KES)      |    0.266052  |
| Population Density_High   |    0.0150154 |
| Population Density_Low    |    0.0144239 |
| Population Density_Medium |    0.0143114 |

In [17]:
import pandas as pd
import numpy as np
import random
import string

def generate_correlated_data(num_records):
    data = {
        'Settlement CODE': pd.Series([''.join(random.choices(string.ascii_uppercase + string.digits, k=4)) for _ in range(num_records)]),
        'Distance to Nearest City': pd.Series(np.random.randint(1, 30, num_records)),
        'Population': pd.Series(np.random.randint(500, 50000, num_records))
    }

    # Correlated fields
    data['Avg Household Size'] = data['Population'] / 1000 + pd.Series(np.random.normal(0, 0.5, num_records))
    data['Primary Education No of People'] = data['Population'] * 0.4 + pd.Series(np.random.normal(0, 200, num_records))
    data['Secondary Education No of People'] = data['Population'] * 0.3 + pd.Series(np.random.normal(0, 150, num_records))
    data['Higher Education No of People'] = data['Population'] * 0.1 + pd.Series(np.random.normal(0, 50, num_records))
    data['Income Level'] = pd.qcut(data['Population'], 3, labels=["Low", "Medium", "High"])
    data['Employment Rate'] = 0.5 + data['Population'] / 50000 + pd.Series(np.random.normal(0, 0.1, num_records))
    data['Land Area'] = data['Population'] / 2 + pd.Series(np.random.normal(0, 100, num_records))
    data['No of Hospitals'] = 1 + data['Population'] // 10000 + pd.Series(np.random.randint(0, 2, num_records))
    data['No of Primary Care Centers'] = 1 + data['Population'] // 5000 + pd.Series(np.random.randint(0, 3, num_records))
    data['Roads Length'] = 5 + data['Population'] // 1000 + pd.Series(np.random.randint(0, 5, num_records))
    data['No of Concrete Houses'] = data['Population'] * 0.4 + pd.Series(np.random.normal(0, 100, num_records))

    # Categorical fields with some dependency
    data['Agriculture Type'] = pd.Series(np.random.choice(['Subsistence', 'Commercial', 'Mixed'], num_records, p=[0.5, 0.3, 0.2]))
    data['Water Source'] = pd.Series(np.random.choice(['River', 'Well', 'Spring', 'Other'], num_records))
    data['Sanitation Facilities'] = np.where(data['Income Level'] == 'High', 
                                            np.random.choice(['Improved', 'Advanced'], num_records, p=[0.7, 0.3]),
                                            np.random.choice(['Basic', 'Limited'], num_records, p=[0.8, 0.2]))
    data['Access to Markets'] = np.where(data['Population'] > 10000, 
                                         np.random.choice(['Good', 'Excellent'], num_records, p=[0.6, 0.4]),
                                         np.random.choice(['Limited', 'Poor'], num_records, p=[0.7, 0.3]))
    data['Climate'] = pd.Series(np.random.choice(['Temperate', 'Arid', 'Tropical', 'Other'], num_records))
    data['Soil Type'] = pd.Series(np.random.choice(['Loamy', 'Sandy', 'Clayey', 'Other'], num_records))
    data['Natural Disasters'] = pd.Series(np.random.choice(['None', 'Flood', 'Drought', 'Earthquake'], num_records, p=[0.6, 0.2, 0.1, 0.1]))
    data['Land Ownership'] = pd.Series(np.random.choice(['Communal', 'Private', 'Mixed'], num_records, p=[0.4, 0.5, 0.1]))
    data['Access to Financial Services'] = np.where(data['Income Level'] == 'High', 
                                                   np.random.choice(['Good', 'Excellent'], num_records, p=[0.6, 0.4]),
                                                   np.random.choice(['Limited', 'Poor'], num_records, p=[0.7, 0.3]))

    # Convert data dictionary to DataFrame for indexing
    df = pd.DataFrame(data) 

    # Correcting the 'Social Services' field
    condition = ((df['No of Hospitals'].to_numpy() > 1)[:, None] & 
                 (df['No of Primary Care Centers'].to_numpy() > 2)[:, None]).all(axis=1)

    # Convert condition to pandas Series for indexing
    condition_series = pd.Series(condition)

    # Filter the data based on the condition
    advanced_good_data = df[condition_series]
    basic_limited_data = df[~condition_series]

    # Generate choices based on the filtered data, ensuring the sizes match
    advanced_good_choices = np.random.choice(['Advanced', 'Good'], size=len(advanced_good_data), p=[0.3, 0.7])
    basic_limited_choices = np.random.choice(['Basic', 'Limited'], size=len(basic_limited_data), p=[0.8, 0.2])

    # Assign choices to the corresponding filtered data
    advanced_good_data['Social Services'] = advanced_good_choices
    basic_limited_data['Social Services'] = basic_limited_choices

    # Combine the filtered data back into the original DataFrame
    df = pd.concat([advanced_good_data, basic_limited_data]).sort_index()

    # Other fields
    df['No of Bridges'] = 1 + df['Roads Length'] // 10 + pd.Series(np.random.randint(0, 2, num_records))
    df['No of Huts'] = 1000 - df['No of Concrete Houses'] + pd.Series(np.random.normal(0, 50, num_records))
    df['Rainfall'] = pd.Series(np.random.randint(100, 1000, num_records))
    df['Tourism Potential'] = 1 + df['Population'] // 5000 + pd.Series(np.random.randint(0, 3, num_records))

    return df

# Generate the dataset
num_records = 100000  # Adjust as needed
df = generate_correlated_data(num_records)

# Save to CSV

# Save to CSV
df.to_csv('settlement_data.csv', index=False)

print("Dataset generated and saved to settlement_data.csv")

C:\Users\SERVER\AppData\Local\Temp\ipykernel_30728\2420089969.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  advanced_good_data['Social Services'] = advanced_good_choices
C:\Users\SERVER\AppData\Local\Temp\ipykernel_30728\2420089969.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  basic_limited_data['Social Services'] = basic_limited_choices

Dataset generated and saved to settlement_data.csv

In [18]:
df_tan=pd.read_csv('DATA/settlement_data.csv')

In [19]:
df_tan.head()

,Settlement CODE,Distance to Nearest City,Population,Avg Household Size,Primary Education No of People,Secondary Education No of People,Higher Education No of People,Income Level,Employment Rate,Land Area,No of Hospitals,No of Primary Care Centers,Roads Length,No of Concrete Houses,Agriculture Type,Water Source,Sanitation Facilities,Access to Markets,Climate,Soil Type,Natural Disasters,Land Ownership,Access to Financial Services,Social Services,No of Bridges,No of Huts,Rainfall,Tourism Potential
0,8KJP,8,8283,8.006306,3275.833329,2209.944421,895.006858,Low,0.713217,4125.319690,2,2,14,3523.664892,Subsistence,Other,Basic,Limited,Temperate,Other,Earthquake,Communal,Limited,Basic,2,-2547.093920,446,2
1,KT4U,18,28653,28.649858,11619.262459,8686.043072,2893.792944,Medium,1.078722,14162.985538,4,6,37,11731.942589,Subsistence,River,Basic,Good,Tropical,Clayey,NaN,Communal,Limited,Good,5,-10725.355404,617,8
2,CMO0,6,39120,39.272173,15443.363702,11712.910470,3962.751195,High,1.121759,19533.844778,5,9,47,15633.485265,Commercial,Other,Advanced,Excellent,Tropical,Loamy,NaN,Private,Good,Good,5,-14550.783217,832,8
3,40IJ,20,36533,37.118890,14857.235501,11014.768223,3627.268255,High,1.320063,18265.000820,4,9,43,14689.372666,Commercial,River,Advanced,Excellent,Other,Loamy,NaN,Communal,Good,Good,5,-13662.037052,752,8
4,KLT1,7,14021,14.154116,5754.844688,4470.220310,1395.693540,Low,0.680354,6953.679201,2,3,19,5568.529936,Commercial,Well,Basic,Good,Temperate,Clayey,NaN,Mixed,Limited,Advanced,3,-4663.005348,207,5

In [25]:
#df_2=df_tan.drop(['Settlement CODE'])
df_2 = df.drop('Settlement CODE', axis=1)
import pandas as pd
from sklearn.preprocessing import LabelEncoder

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Read the CSV file into a DataFrame
df = pd.read_csv('DATA/settlement_data.csv')

# Get all columns specified in the query
categorical_columns = ['Agriculture Type', 'Water Source', 'Sanitation Facilities', 'Access to Markets', 'Climate', 'Soil Type', 'Natural Disasters', 'Land Ownership', 'Access to Financial Services', 'Social Services']

# Initialize LabelEncoder
le = LabelEncoder()

# Encode the categorical columns
for col in categorical_columns:
    df[col] = le.fit_transform(df[col])

# Print unique values for each encoded column
for col in categorical_columns:
    print(f"Unique values for {col}: {df[col].unique()}")

# Print the column names and their data types
print(df.info())

Unique values for Agriculture Type: [2 0 1]
Unique values for Water Source: [0 1 3 2]
Unique values for Sanitation Facilities: [1 0 3 2]
Unique values for Access to Markets: [2 1 0 3]
Unique values for Climate: [2 3 1 0]
Unique values for Soil Type: [2 0 1 3]
Unique values for Natural Disasters: [1 3 0 2]
Unique values for Land Ownership: [0 2 1]
Unique values for Access to Financial Services: [2 1 3 0]
Unique values for Social Services: [1 2 0 3]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Settlement CODE                   100000 non-null  object
 1   Distance to Nearest City          100000 non-null  int64
 2   Population                        100000 non-null  int64
 3   Avg Household Size                100000 non-null  float64
 4   Primary Education No of People    100000 non-null  float64
 5   Secondary Education No of People  100000 non-null  float64
 6   Higher Education No of People     100000 non-null  float64
 7   Income Level                      100000 non-null  object
 8   Employment Rate                   100000 non-null  float64
 9   Land Area                         100000 non-null  float64
 10  No of Hospitals                   100000 non-null  int64
 11  No of Primary Care Centers        100000 non-null  int64
 12  Roads Length                      100000 non-null  int64
 13  No of Concrete Houses             100000 non-null  float64
 14  Agriculture Type                  100000 non-null  int32
 15  Water Source                      100000 non-null  int32
 16  Sanitation Facilities             100000 non-null  int32
 17  Access to Markets                 100000 non-null  int32
 18  Climate                           100000 non-null  int32
 19  Soil Type                         100000 non-null  int32
 20  Natural Disasters                 100000 non-null  int32
 21  Land Ownership                    100000 non-null  int32
 22  Access to Financial Services      100000 non-null  int32
 23  Social Services                   100000 non-null  int32
 24  No of Bridges                     100000 non-null  int64
 25  No of Huts                        100000 non-null  float64
 26  Rainfall                          100000 non-null  int64
 27  Tourism Potential                 100000 non-null  int64
dtypes: float64(8), int32(10), int64(8), object(2)
memory usage: 17.5+ MB
None

In [26]:
categorical_columns = ['ocial Services']

# Initialize LabelEncoder
le = LabelEncoder()
df['Income Level']=le.fit_transform(df['Income Level'])
# Encode the categorical columns
# Print the column names and their data types
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Settlement CODE                   100000 non-null  object
 1   Distance to Nearest City          100000 non-null  int64
 2   Population                        100000 non-null  int64
 3   Avg Household Size                100000 non-null  float64
 4   Primary Education No of People    100000 non-null  float64
 5   Secondary Education No of People  100000 non-null  float64
 6   Higher Education No of People     100000 non-null  float64
 7   Income Level                      100000 non-null  int32
 8   Employment Rate                   100000 non-null  float64
 9   Land Area                         100000 non-null  float64
 10  No of Hospitals                   100000 non-null  int64
 11  No of Primary Care Centers        100000 non-null  int64
 12  Roads Length                      100000 non-null  int64
 13  No of Concrete Houses             100000 non-null  float64
 14  Agriculture Type                  100000 non-null  int32
 15  Water Source                      100000 non-null  int32
 16  Sanitation Facilities             100000 non-null  int32
 17  Access to Markets                 100000 non-null  int32
 18  Climate                           100000 non-null  int32
 19  Soil Type                         100000 non-null  int32
 20  Natural Disasters                 100000 non-null  int32
 21  Land Ownership                    100000 non-null  int32
 22  Access to Financial Services      100000 non-null  int32
 23  Social Services                   100000 non-null  int32
 24  No of Bridges                     100000 non-null  int64
 25  No of Huts                        100000 non-null  float64
 26  Rainfall                          100000 non-null  int64
 27  Tourism Potential                 100000 non-null  int64
dtypes: float64(8), int32(11), int64(8), object(1)
memory usage: 17.2+ MB
None

In [27]:
df.head()

,Settlement CODE,Distance to Nearest City,Population,Avg Household Size,Primary Education No of People,Secondary Education No of People,Higher Education No of People,Income Level,Employment Rate,Land Area,No of Hospitals,No of Primary Care Centers,Roads Length,No of Concrete Houses,Agriculture Type,Water Source,Sanitation Facilities,Access to Markets,Climate,Soil Type,Natural Disasters,Land Ownership,Access to Financial Services,Social Services,No of Bridges,No of Huts,Rainfall,Tourism Potential
0,8KJP,8,8283,8.006306,3275.833329,2209.944421,895.006858,1,0.713217,4125.319690,2,2,14,3523.664892,2,0,1,2,2,2,1,0,2,1,2,-2547.093920,446,2
1,KT4U,18,28653,28.649858,11619.262459,8686.043072,2893.792944,2,1.078722,14162.985538,4,6,37,11731.942589,2,1,1,1,3,0,3,0,2,2,5,-10725.355404,617,8
2,CMO0,6,39120,39.272173,15443.363702,11712.910470,3962.751195,0,1.121759,19533.844778,5,9,47,15633.485265,0,0,0,0,3,1,3,2,1,2,5,-14550.783217,832,8
3,40IJ,20,36533,37.118890,14857.235501,11014.768223,3627.268255,0,1.320063,18265.000820,4,9,43,14689.372666,0,1,0,0,1,1,3,0,1,2,5,-13662.037052,752,8
4,KLT1,7,14021,14.154116,5754.844688,4470.220310,1395.693540,1,0.680354,6953.679201,2,3,19,5568.529936,0,3,1,1,2,0,3,1,2,0,3,-4663.005348,207,5